.attribution {
  font-size: 11px;
  text-align: center;
  background-color: var(--color-n6);
  padding-top: 30px;
  padding-bottom: 40px;
}

.attribution a {
  color: var(--color-n5);
  background-color: var(--color-n1);
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
}
