body {
  background-color: var(--color-n4);
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
p {
  padding: 0px;
  margin: 0px;
}

fieldset {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  border: none;
}
