.calculator-main {
  background-color: var(--color-n6);
  border-radius: 20px 20px 0px 0px;
  padding: 30px 30px;
  display: grid;
  gap: 30px;
}

.calculator-input {
  position: relative;
}

.calculator-input label {
  font-size: 1rem;
  letter-spacing: normal;
}

.calculator-input img {
  position: absolute;
  top: 40px;
  left: 16px;
}

.select-options {
}

.select-options legend {
  font-size: 1rem;
}

.calculator-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
