.calculator-main {
  background-color: var(--color-n6);
  border-radius: 20px 20px 0px 0px;
  display: grid;
  gap: 30px;
}

.calculator-first {
  display: grid;
  gap: 30px;
}

.calculator-input {
  position: relative;
}

.calculator-input:first-child {
  margin-top: 30px;
}

.calculator-input label {
  font-size: 1rem;
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
}

.calculator-input img {
  position: absolute;
  top: 38px;
  left: 46px;
}

.select-options legend {
  font-size: 1rem;
}

.calculator-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.calculator-options label:not(label[for="custom"]) {
  display: grid;
  background-color: var(--color-n1);
  color: var(--color-n6);
  border-radius: 4px;
  max-width: 150px;
  box-sizing: border-box;
  padding: 10px 10px;
  text-align: center;
}

.calculator-options input:checked + label {
  background-color: var(--color-p1);
  color: var(--color-n1);
}

.calculator-options .input-custom {
  background: none;
  padding: 0px;
}

.result {
  background-color: var(--color-n1);
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.result h2 {
  font-size: 0.9rem;
}

.result span {
  display: block;
  margin-top: 5px;
  font-size: 0.85rem;
}

.result p {
  font-size: 1.75rem;
}

.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount + .total {
  margin-top: 30px;
}

.button-reset {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-reset button {
  width: 100%;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--color-p1);
  cursor: pointer;
}

@media (min-width: 350px) and (max-width: 700px) {
  .calculator-options label:not(label[for="custom"]) {
    max-width: 200px;
    padding: 15px 10px;
  }

  .input-custom input {
    padding: 7px 16px;
  }
}

@media (min-width: 451px) and (max-width: 700px) {
  body {
    margin: 0 auto;
    max-width: 450px;
  }
}

@media (min-width: 701px) {
  body {
    margin: 0px auto;
    max-width: 1000px;
  }

  .calculator-main {
    margin: 0px 30px;
    padding: 30px;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .calculator-first {
    padding: 15px;
    gap: 40px;
  }

  .calculator-input:first-child {
    margin-top: 0px;
  }

  .calculator-input img {
    position: absolute;
    top: 40px;
    left: 16px;
  }

  .calculator-options {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .result {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .amount + .total {
    margin-top: 50px;
  }
}
