main {
  background-color: var(--color-n4);
}

.calculator-main {
  background-color: var(--color-n6);
  border-radius: 20px 20px 0px 0px;
  display: grid;
  gap: 30px;
}

.calculator-input {
  position: relative;
}

.calculator-input:first-child {
  margin-top: 30px;
}

.calculator-input label {
  font-size: 1rem;
  letter-spacing: normal;
}

.calculator-input img {
  position: absolute;
  top: 40px;
  left: 46px;
}

.select-options legend {
  font-size: 1rem;
}

.calculator-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.calculator-options div {
  display: block;
  background-color: var(--color-n1);
  color: var(--color-n6);
  border-radius: 4px;
  width: 100%;
  max-width: 150px;
  box-sizing: border-box;
  padding: 10px 10px;
  text-align: center;
}

.calculator-options input:checked + div {
  background-color: var(--color-p1);
  color: var(--color-n1);
}

.calculator-options .input-custom {
  background: none;
  padding: 0px;
}

.result {
  background-color: var(--color-n1);
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.result h2 {
  font-size: 0.9rem;
}

.result span {
  display: block;
  margin-top: 5px;
  font-size: 0.85rem;
}

.result p {
  font-size: 1.75rem;
}

.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount + .total {
  margin-top: 30px;
}

.button-reset {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-reset button {
  width: 100%;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  padding: 10px;
  background-color: var(--color-p1);
  cursor: pointer;
}
